{% extends "_layout.html" %}
{% block content %}
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 align="center" class="page-header">Perbandingan Pelabelan Lexicon Based TextBlob, VADER, dan manual pada Analisis Sentimen Aplikasi PeduliLindungi dengan Metode Support Vector Machine</h1>
                            <!-- <h2 align="center" class="page-header">Perbandingan Akurasi Analisis Sentimen Tweet terhadap PeduliLindungi dengan Metode Support Vector Machine, Textblob, dan Vader</h2> -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <p align="center">
                        <img src="{{ url_for('static', filename='images/download.png') }}" />
                        <img src="{{ url_for('static', filename='images/logo.png') }}" />
                    </p>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        <!-- </div> -->
        <!-- /#wrapper -->
{% endblock %}
       
